body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: rgb(172, 215, 201);
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#weatherDisplay {
    margin-top: 20px;
}
